<h1>Restaurant</h1>

<div class="restaurant">
  <%= @restaurant.name %> <%= @restaurant.adress %><br />
  <%= image_tag @restaurant.photo_url %>
  <%= link_to "Back to Restaurants", restaurants_url %>
</div>